@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.container{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.25em;
}
h2 {
    font-size: 1em;
}
h3 {
	font-size: .75em;
}
h4 {
	font-size: .5em;
}

p {
	font-size: .6em;
	line-height: .875em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column wrap;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	width: 100%;
}
.title {
		border-bottom: 3px solid #77a466;
}
header h1 {
	margin: 0;
	padding: 10px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 15px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75em;
	padding: 0 0 10px 0;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
	margin: 0 auto;
	clear: both;
	width: 100%
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	flex: 1 1 150px;
	height: auto;
	border: 1px solid #eee;
}
.section-one h4,
.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0 30px;
	text-align: left;
}
.menu li {
	padding: 5px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 50px;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

/*     MEDIA QUERIES    */
@media (min-width: 768px) {
	.bottom-section {
		flex-flow: row wrap;
	}
}
@media (min-width: 1200px) {

}
